.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
}





.side_bar{
  width: 300px;
  padding: 0px 20px;
}

.side_bar_header{
  height: 100px;
  padding: 0px 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name_corner{
  line-height: 100px;
}

.name{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.create{
  height: 38px;
  padding: 14px;
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid lightblue;
}





.chat_list_corner{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
}


.chat_list{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: scroll
}

.chat_name {
  width: 100%;
  padding: 20px 20px 40px;
}

.chat_name a {
  color: white;
  text-decoration: none;
}







.main_chat{
  width: calc(100vw - 300px);
  padding: 0px 40px;
}

.main_chat_header{
  height: 100px;
  background-color: #ffffff;
}

.chat_corner{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding-top: 46px;
}

.input_corner{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 0px;
}